<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/img/logo.png" alt="Logo">
        Rota 21 
    </a>      
    <form class="d-flex" role="search" method="GET" action="/" id="searchForm"></form>
      <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" id="Search" name="Search">
      <button class="btn btn-outline-primary" type="submit" form="searchForm" >Buscar</button>
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addpeca/novapeca">Cadastrar Produto</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Adicionar ao Estoque
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/addpeca/estoque">Adicionar unidade</a></li>
            <li><a class="dropdown-item" href="#">Adicionar em lista</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<style>
img{
  width: 30px;
  height: 30px;
}
#Search{
  max-width: 350px;
}
</style>

<script>
const form = document.getElementById('searchForm');
const searchInput = document.getElementById('Search');

form.addEventListener('submit', function(event) {
  event.preventDefault(); 
  const searchValue = searchInput.value;
  
  form.action = `/${searchValue}`;
  
  form.submit();
  });
</script>