body{
    margin:0px;
    display: flex;
    justify-content: center;
    background-color: black;
    
}

.main{   
    width: 500px;/*largura*/
    height: 530px;/*autura*/
    background-color: rgb(43, 55, 214);/*cor de fundo*/
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#teste1{   

    width: 400px;
    height:450px;
    background-color: rgb(236, 240, 244);

    border-radius: 10px;
    box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.75);
    margin: 2px 0px 10px 48px;
    

}
header{
    background-color: rgb(162, 47, 47);
    width: 100%;
    height: 40px;
    margin-top: 3pt;
    box-shadow: -2px 3px rgb(0, 0, 0.75);
    justify-content: center;
    display: flex;   
}
#logo1 img{
    width: 39px;
    height: 40px;
}

#divBusca{

    width: 350px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b7cbe1;
    border: solid 2px rgb(43, 49, 142);
    border-radius: 10PX;
    overflow: hidden;  
    margin: 2px 20px; 

}
#divBusca img{
    float: left;
    width: 40px;
    height: 100%;
}
#divBusca input{
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 35px;
    width: 300px;
}
#divBusca button{
    border: none;
    float: left;
    height: 100%;
    border-radius: 0 7px 7px 0;
    width: 60px;
    font-weight: bold;
    background-color: #90b4da;
    cursor: pointer;

}

.tabela{
    width: 400px;
    border-collapse: collapse;
}
.tabela td,.tabela caption{
 
    height: 20px;
   
}
.tabela .titulos, .tabela caption{
    background-color: rgba(66, 124, 218, 0.819);  
    border-bottom: 1px #000 solid;
}    
/*.tabela caption{
    border-bottom: none;
}*/
#barraLat{

    display: flex;
    float: right;
    width: 50px;
    height: 450px;

}
#btnLat button, a{
    display: flex;
    width: 35px;
    height: 25px;
    background: white;
    border-radius: 10px 10px;
    
}
ul{
    list-style-type: none;
    margin: 3px;
    padding: 0;

}
li{
    border: #808da3 1px groove;
    cursor: pointer;
    margin: 6px;
    border: transparent;
}
.icon{
    color: black;
    width: 70%;
    height: 70%;
}
a{
    align-items: center;
    display: flex;
    justify-content: center;
}