<div class="card mt-3">
    <div class="card-body">
        <h3>Adicionar peça</h3>
        <form  action="/addpeca/nova" method="POST" onsubmit="return confirmaNova()">
            <!--  -->
            <div id="codadd">
            <label for="codigo">Codigo:</label>
                <input type="text" name="codigo" required value="R10" id="idCodigo"><br>
            </div>
            <label for="produto">Produto: </label>
                <input type="text" name="produto" required id="idProduto" oninput="this.value = this.value.toUpperCase();"><br>
            <label for="modelo">Modelo:</label>
                <input type="text" name="modelo" value="test31" id="idModelo" oninput="this.value = this.value.toUpperCase();">
            <label for="marca">Marca:</label>
                <input type="text" name="marca" value="test31" id="idMarca" oninput="this.value = this.value.toUpperCase();"><br>
            <label for="quantidade">Quantidade: </label>
                <input type="number" step="1" name="quantidade" value="1" min="0"  id="idQuantidade">
            <label for="valorc">Valor de compra:</label>
                <input type="number" name="valorc" step="0.01" value="1" min="0"  id="idValorC">

            <label for="valorv">Valor de Venda:</label>
                <input type="number" name="valorv" step="0.5" value="1" min="0" id="idValorV" ><br>
            
            <button type="submit" class="btn btn-success mt-2" name="salvar" >Salvar</button>
        </form>
    
    </div>
</div>

<style>
  .alinha-form{
    display: flex;
    flex-direction: column; /* Coloca os elementos em uma coluna */
    gap: 10px; /* Espaçamento entre os elementos */
  }
input{
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid;
}
#codadd{
    font-size: 12px;
    display: flex;
    align-items: center;
}
input[name=codigo],[name=valorc],[name=valorv]{
    max-width: 80px;
}
input[name=produto]{
    width: 500px;
}
input[name=modelo]{
    width: 250px;
}
input[name=marca]{
    width: 197px;
}
input[name=quantidade]{
    max-width: 57px;
}
button[name="salvar" ]{
    max-width: 80px;
}
</style>

<script>

function confirmaNova(){   
    const form = {
        codigo: () => document.getElementById('idCodigo'),
        produto: () => document.getElementById('idProduto'),
        modelo: () => document.getElementById('idModelo'),
        marca: () => document.getElementById('idMarca'),
        quantidade: () => document.getElementById('idQuantidade'),
        valorc: () => document.getElementById('idValorC'),
        valorv: () => document.getElementById('idValorV')
        }
       if(form.codigo().value.length == 6){
        const confirmaCodigo =  `Código: ${form.codigo().value}\n`
        const confirmaProduto = `Produto: ${form.produto().value}\n`
        const confirmaModelo = `Modelo: ${form.modelo().value}\n`
        const confirmaMarca = `Marca: ${form.marca().value}\n`
        const confirmaQuantidade = `Quantidade: ${form.quantidade().value}\n`
        const confirmavalorc = `Valor de Compra: ${form.valorc().value}      `
        const confirmaValorv = `Valor de venda: ${form.valorv().value}\n`
        return confirm(confirmaCodigo+confirmaProduto+confirmaModelo+confirmaMarca+confirmaQuantidade+confirmavalorc+confirmaValorv)
        
        }else{
            alert('erro no codigo, codigo incorreto')
            return false
        }
    }
</script>